<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Car license plates</title>
</head>
<body>
<table>
  <thead class="dark">
  <tr>
    <th scope="col" th:text="'Plate'"></th>
    <th scope="col" th:text="'Car brand'"></th>
    <th scope="col" th:text="'Car model'"></th>
    <th scope="col" th:text="'Brand'"></th>
    <th scope="col" th:text="'Color'"></th>
    <th scope="col" th:text="'Year'"></th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="data: ${list}">
    <td th:text="${data.plate}" ></td>
    <td th:text="${data.carBrand}"></td>
    <td th:text="${data.carModel}"></td>
    <td th:text="${data.color}"></td>
    <td th:text="${data.year}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>